@{
    ViewData["Title"] = "Movie Added";
}

@model MoviesWebApp.Models.ApplicationResponse

<!-- method to allow for multiple responses depending on the information added by the user
    @if (Model.Edited == true)
    {

    }
    else
    {
        <h2>@Model.Title (@Model.Year) was successfully added to the database.</h2>
    }
-->

<h2>@Model.Title (@Model.Year) was successfully added to the database.</h2>

<h1>Thank you!</h1>