@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<br /><br />

<div>
    <p>Welcome to my website! The greatest collection of movies known to man. Please check out my podcast using the link above and feel free to add to my movie collection.</p>
</div>


<img src="~/img/joel_hilton.jpg" height="300"/>

<br /><br />
