@{
    ViewData["Title"] = "My Podcasts";
}

<h1>My Podcasts</h1>

<br /><br />

<a>Welcome to the podcasts page. Here is the link to my podcast:</a>
<a href="https://baconsale.com/">Baconsale Podcast</a>